# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [1]:
# Add your code for Question 1 in this code block
import pandas as pd

In [2]:
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [3]:
# Add your code for Question 2 in this code block
df = pd.read_csv('application_data.csv')
df.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

In [4]:
df = pd.read_csv('application_data.csv')
df.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [5]:
# convert to dates

df['appilcationDate'] = pd.to_datetime(df.appilcationDate)
df['repaymentDueDate'] = pd.to_datetime(df.repaymentDueDate)
df['repaymentPaidDate'] = pd.to_datetime(df.repaymentPaidDate)

In [6]:
df['appilcationDate'] = pd.to_datetime(df['appilcationDate'])
df['repaymentDueDate'] = pd.to_datetime(df['repaymentDueDate'])
df['repaymentPaidDate'] = pd.to_datetime(df['repaymentPaidDate'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
customerID           1000 non-null object
loanId               1000 non-null object
appilcationDate      1000 non-null datetime64[ns]
LoanNumber           1000 non-null int64
LoanAmount           1000 non-null float64
InterestRate         1000 non-null float64
TermDays             1000 non-null int64
repaymentDueDate     1000 non-null datetime64[ns]
repaymentPaidDate    1000 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 70.4+ KB

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [7]:
# data types
no_unique_type = len(df['appilcationDate'].unique())
print(no_unique_type)
len(df.dtypes.unique())

254

4

In [8]:
print('the number of unique datatype is',df.dtypes.nunique())

the number of unique datatype is 4

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [9]:
import numpy as np
# 2a avg loan amount
loan_amt_avg = df['LoanAmount'].mean()
print(np.round(loan_amt_avg, decimals=2))

13828.08

In [10]:
print('Average loan Amount', df['LoanAmount'].mean().round(2))

Average loan Amount 13828.08

In [11]:
# 2b avg interest rate
interest_rate_avg = df['InterestRate'].mean()
print(np.round(interest_rate_avg, decimals=2))

23.06

In [12]:
print('Average InterestRate', df['InterestRate'].mean().round(2))

Average InterestRate 23.06

In [13]:
# 2c avg term days 
term_day_avg = df['TermDays'].mean()
print(np.round(term_day_avg, decimals=2))

42.08

In [14]:
print('Average TermDays', df['TermDays'].mean().round(2))

Average TermDays 42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [15]:
# number of loans more than 3 days late
df['dateDifference'] = (df['repaymentPaidDate'] - df['repaymentDueDate']).dt.days
date_more_than_3=df[df['dateDifference']>3]
# date_more_than_3 = df.dateDifference[df.dateDifference > pd.Timedelta(3, 'D')].count()
date_more_than_3.count()

customerID           145
loanId               145
appilcationDate      145
LoanNumber           145
LoanAmount           145
InterestRate         145
TermDays             145
repaymentDueDate     145
repaymentPaidDate    145
dateDifference       145
dtype: int64

In [18]:
date_more_than_3

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,15
410,GH85390929,100015715,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-16,4
419,GH06832511,100014400,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-14,9
424,GH26139148,100017099,2018-02-04,2,80.0,15.0,15,2018-02-19,2018-02-27,8
426,GH03825373,100012495,2018-01-13,1,80.0,15.0,15,2018-01-29,2018-02-13,15
...,...,...,...,...,...,...,...,...,...,...
978,189301655,302565959911,2018-10-13,2,7500.0,30.0,30,2018-11-12,2018-11-20,8
980,874756930,302885631,2018-03-07,2,7500.0,30.0,30,2018-04-06,2018-04-17,11
983,351491824,302607848,2018-01-08,1,7500.0,30.0,30,2018-02-09,2018-05-09,89
987,576830620,302856088,2018-03-01,3,7500.0,30.0,30,2018-03-31,2018-07-12,103
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12,252

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [19]:
group = df.groupby('TermDays')['LoanAmount'].agg(['mean', 'std'])

In [20]:
print('Mean LoanAmount in 30-days loans is', group.loc[30, 'mean'].round(2))
print('Standard Deviation of loanAmount in 90-days loans is', group.loc[90,'std'].round(2))

Mean LoanAmount in 30-days loans is 7941.96
Standard Deviation of loanAmount in 90-days loans is 18050.14

In [21]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
grouping = df.groupby('TermDays', as_index=False).agg({'LoanAmount':['mean', 'std']}).round(2)
grouping_mean_30_days = grouping.loc[[1], 'LoanAmount']['mean']
grouping_std_90_days = grouping.loc[[4], 'LoanAmount']['std']
print("Mean Loan Amount in 30 Days ", grouping_mean_30_days)
print("Std Loan Amount in 90 Days ", grouping_std_90_days)
print(grouping)

Mean Loan Amount in 30 Days  1    7941.96
Name: mean, dtype: float64
Std Loan Amount in 90 Days  4    18050.14
Name: std, dtype: float64
  TermDays LoanAmount
                 mean       std
0       15    1274.09   2885.97
1       30    7941.96   1606.04
2       45   10706.25   2346.14
3       60   25710.53  11559.65
4       90   37672.73  18050.14
5      120   45055.56  22192.97
6      180   80988.10  34612.22

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [27]:
df['week'] = df['appilcationDate'].dt.week
df['dateDifference'] = (df['repaymentPaidDate'] - df['repaymentDueDate']).dt.days
date_more_than_3=df[df['dateDifference']>3]
date_more_than_3.groupby('week')['dateDifference'].mean().round(2)

week
1      87.60
2      45.75
3      16.50
4      37.92
5      18.00
6      39.71
7      29.25
8      25.15
9      55.86
10     29.25
11     71.50
12     19.50
13     34.00
14     14.00
15      7.00
17     34.50
19     66.50
20     28.00
21     10.00
22     88.00
23     11.00
24     36.00
26     27.33
27      4.00
28      7.00
29     69.00
30     65.00
31    108.00
32     15.50
33     30.00
34     14.00
35      4.00
36     39.33
37     17.20
38     60.00
39      9.00
40      9.00
41      8.00
42     20.00
44      9.00
45      6.00
48     18.00
Name: dateDifference, dtype: float64

In [10]:
df.head(2)

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16,-4
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29,-24

In [11]:
# week of year and average number of late days
df['appilcationDate'] = df['appilcationDate'].dt.week

late_loan_week = df[df['dateDifference'] > 3]

# print(late_loan_week)
group_by_late = late_loan_week.groupby('appilcationDate').mean()
# avg_no_days_late_in_week_2 = 
#print(group_by_late['dateDifference'])
# print("The average number of days late loans applied for in second week of the year", avg_no_days_late_in_week_2)
# df.head()
group_by_late.head()

,LoanNumber,LoanAmount,InterestRate,TermDays,dateDifference
appilcationDate,,,,,
1,1.700000,6758.000000,28.500,28.500,87.600000
2,1.250000,5645.000000,26.250,26.250,45.750000
3,2.000000,4717.500000,24.375,24.375,16.500000
4,1.333333,6263.333333,27.500,27.500,37.916667
5,2.333333,3790.000000,22.500,22.500,18.000000

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.